tensorflow==2.12.1
pandas 
gdown    # if you want to download anything from google drive , we can use gdown
dvc
mlflow==2.2.2   #stable version
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
from_root 

dagshub
Flask-Cors
-e .